include templates/all

+mustart-start
  .container
    h1
      span.mustart-gradient-leaves-text Bertamu
      span.mustart-gradient-leaves-text Harus
      span.mustart-gradient-leaves-text Sopan
      a(href="https://berta.muhar.us/sopan") https://berta.muhar.us/sopan
  +mustart-end
