mixin mustart-start
  doctype html
  html(lang="en")
    head
      meta(charset="UTF-8")
      meta(name="viewport" content="width=device-width,initial-scale=1")
      title Bertamu Harus Sopan
      link(rel="stylesheet" href="css/styles.min.css?11112019-1:46")
      meta(property='og:description', content='Maaf, Kalau Bertamu Harus Sopan.')
      meta(name='description', content='Maaf, Kalau Bertamu Harus Sopan.')
    body
      if block
        block
        
mixin mustart-end
  script(src="js/bundle.min.js?11112019-1:46")
  if block
    block
